exportPattern("^[[:alpha:]]+")
import(data.table)
import(lubridate)
import(magrittr)
import(sf)
import(terra)
import(parallel)
import(parallelly)
import(arrow)
import(fst)
import(maps)
import(rnaturalearth)
importFrom(lubridate,month)
importFrom(lubridate,year)
importFrom(raster,raster)
importFrom(raster,brick)
importFrom(raster,rotate)
importFrom(tibble,tibble)
importFrom(ncdf4,nc_open)
