exportPattern("^[[:alpha:]]+")
import(data.table)
import(lubridate)
import(sf)
import(terra)
import(parallel)
import(parallelly)
import(arrow)
import(fst)
import(rnaturalearth)
importFrom(tibble,tibble)
importFrom(ncdf4,nc_open)
importFrom(raster,raster)
